@charset "UTF-8";
/* Animations */
@-webkit-keyframes mainimg {
  0% {
    top: 100%;
  }
  100% {
    top: 40%;
  }
}
@keyframes mainimg {
  0% {
    top: 100%;
  }
  100% {
    top: 40%;
  }
}

main .mainimg .image {
  width: 100vw;
  position: relative;
}

main .mainimg p {
  color: white;
  -webkit-animation: mainimg 0.5s ease-out;
          animation: mainimg 0.5s ease-out;
  place-items: center;
  position: absolute;
  display: -ms-grid;
  display: grid;
  font-size: 5em;
  width: 70%;
  font-weight: 700;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

main .mainimg p:after {
  font-size: 0.5em;
  content: 'Vem saborear o melhor de São Tomé e Príncipe';
}

main .content {
  margin-top: 100px;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .content .ctitle p {
  position: relative;
  text-align: center;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  font-size: 4em;
  font-weight: 600;
  text-decoration: underline;
}

main .content .ctitle p:hover:before {
  width: 100%;
}

main .content .ctitle p:before {
  content: 'Enjoy our Menu!';
  position: absolute;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  width: 0%;
  height: 100%;
  -webkit-transition: width 400ms ease-out;
  transition: width 400ms ease-out;
  text-decoration: underline;
  background-color: black;
  top: 0;
  left: 0;
  color: white;
}

main .content .cardlist {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  white-space: normal;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1270px) {
  main .mainimg p {
    top: 40%;
    font-size: 4em;
  }
}

@media screen and (max-width: 1190px) {
  main .mainimg p {
    top: 30%;
    font-size: 4em;
    -webkit-animation: none;
            animation: none;
  }
}

@media screen and (max-width: 1000px) {
  main .mainimg p {
    display: none;
  }
  main .mainimg .image {
    display: none;
  }
  main .content {
    margin-top: 100px;
    width: 100vw;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .content .ctitle p {
    text-align: center;
    font-size: 2em;
    font-weight: 600;
  }
  main .content .ctitle p:before {
    width: 100%;
  }
}
/*# sourceMappingURL=Home.module.css.map */