@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap');


main{
    .mainlogo {
        margin: 0;
        margin-top: 100px;
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 65vh;
        width: 100vw;
        .logo {
            display: block;
            width: 400px;
        }
        p {
            margin: 0;
            padding: 0;
            margin-top: 0px;
            background: linear-gradient(to right, #58c883,
                    #fef358, #16c163, #96bc0d);
            -webkit-text-fill-color: transparent;
            background-clip: text;
            font-size: 4rem;
            font-family: 'Roboto Slab', serif;
            font-weight: 600;
        

        }
    }

    .presentation {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        width: 100vw;
        height: auto;
            h2 {
                width: 90%;
                font-size: 2rem;
                line-height: 2;
                font-weight: 500;
                font-family: 'Courier New', Courier, monospace;
                text-align: justify;
            }
            h3 {
                margin-top: 200px;
                width: 90%;
                font-size: 2rem;
                line-height: 2;
                font-weight: 500;
                font-family: 'Courier New', Courier, monospace;
                text-align: justify;
            }
            .Stp {
                width: 95vw;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                h4 {
                    width: 50%;
                    font-family: 'Courier New', Courier, monospace;
                    font-weight: 500;
                    text-align: justify;
                    font-size: 1.5rem;
                }
                .stimg {
                    margin-top: 100px;
                    box-sizing: border-box;
                    display: block;
                    width: 35%;
                }
            }
        }
    .content {
        margin-top: 100px;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .ctitle {
            p {
                position: relative;
                text-align: center;
                display: inline-block;
                white-space: nowrap;
                overflow: hidden;
                width: 100%;
                font-size: 4em;
                font-weight: 600;
                &:hover {
                    &:before {
                        width: 100%;
                    }
                }
                &:before {
                    content: 'Enjoy our Menu!';
                    position: absolute;
                    display: inline-block;
                    white-space: nowrap;
                    overflow: hidden;
                    width: 0%;
                    height: 100%;
                    transition: width 400ms ease-out;
                    background-color: black;
                    top: 0;
                    left: 0;
                    color: rgb(255, 255, 255);
                }
            }
        }
        .cardlist {
            width: 100vw;
            display: flex;
            flex-wrap: wrap;
            white-space: normal;
            justify-content: center;
            align-items: center;

        }
    }
}



@media screen and (max-width: 1000px) {
    main {
        .mainlogo {
            margin: 0;
            margin-top: 100px;
            display: flex;
            align-items: center;
            flex-direction: column;
            height: 50vh;
            width: 100vw;
            .logo {
                display: block;
                width: 250px;
            }
            p {
                margin: 0;
                padding: 0;
                margin-top: 0px;
                background: linear-gradient(to right, #58c883,
                        #fef358, #16c163, #96bc0d);
                -webkit-text-fill-color: transparent;
                background-clip: text;
                font-size: 3rem;
                font-family: 'Roboto Slab', serif;
                font-weight: 600;
            
    
            }
        }
        .presentation {
            h2 {
                font-size: 1rem;
            }
            h3 {
                margin: 0;
                margin-top: 60px;
                font-size: 0.9rem;
            }
            .Stp {
                flex-direction: column;
                h4 {
                    width: 90%;
                    font-size: 1rem;
                }
                .stimg {
                    width: 60%;
                }
            }
        }   
        .content {
            margin-top: 10px;
            width: 100vw;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            .ctitle {
                p {
                    text-align: center;
                    font-size: 2em;
                    font-weight: 600;
                    &:before {
                        width: 100%;
                    }
                }    
            }

        }
        }
}





