@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap");
main .mainlogo {
  margin: 0;
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 65vh;
  width: 100vw;
}

main .mainlogo .logo {
  display: block;
  width: 400px;
}

main .mainlogo p {
  margin: 0;
  padding: 0;
  margin-top: 0px;
  background: -webkit-gradient(linear, left top, right top, from(#58c883), color-stop(#fef358), color-stop(#16c163), to(#96bc0d));
  background: linear-gradient(to right, #58c883, #fef358, #16c163, #96bc0d);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 4rem;
  font-family: 'Roboto Slab', serif;
  font-weight: 600;
}

main .presentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: auto;
}

main .presentation h2 {
  width: 90%;
  font-size: 2rem;
  line-height: 2;
  font-weight: 500;
  font-family: 'Courier New', Courier, monospace;
  text-align: justify;
}

main .presentation h3 {
  margin-top: 200px;
  width: 90%;
  font-size: 2rem;
  line-height: 2;
  font-weight: 500;
  font-family: 'Courier New', Courier, monospace;
  text-align: justify;
}

main .presentation .Stp {
  width: 95vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .presentation .Stp h4 {
  width: 50%;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 500;
  text-align: justify;
  font-size: 1.5rem;
}

main .presentation .Stp .stimg {
  margin-top: 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  width: 35%;
}

main .content {
  margin-top: 100px;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .content .ctitle p {
  position: relative;
  text-align: center;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  font-size: 4em;
  font-weight: 600;
}

main .content .ctitle p:hover:before {
  width: 100%;
}

main .content .ctitle p:before {
  content: 'Enjoy our Menu!';
  position: absolute;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  width: 0%;
  height: 100%;
  -webkit-transition: width 400ms ease-out;
  transition: width 400ms ease-out;
  background-color: black;
  top: 0;
  left: 0;
  color: white;
}

main .content .cardlist {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  white-space: normal;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1000px) {
  main .mainlogo {
    margin: 0;
    margin-top: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 50vh;
    width: 100vw;
  }
  main .mainlogo .logo {
    display: block;
    width: 250px;
  }
  main .mainlogo p {
    margin: 0;
    padding: 0;
    margin-top: 0px;
    background: -webkit-gradient(linear, left top, right top, from(#58c883), color-stop(#fef358), color-stop(#16c163), to(#96bc0d));
    background: linear-gradient(to right, #58c883, #fef358, #16c163, #96bc0d);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 3rem;
    font-family: 'Roboto Slab', serif;
    font-weight: 600;
  }
  main .presentation h2 {
    font-size: 1rem;
  }
  main .presentation .Stp {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .presentation .Stp h4 {
    width: 90%;
    font-size: 1rem;
  }
  main .presentation .Stp .stimg {
    width: 60%;
  }
  main .content {
    margin-top: 100px;
    width: 100vw;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .content .ctitle p {
    text-align: center;
    font-size: 2em;
    font-weight: 600;
  }
  main .content .ctitle p:before {
    width: 100%;
  }
}
/*# sourceMappingURL=Home.module.css.map */