main{
    .mainimg {
        .image {
            width: 100vw;
            position: relative;
        }
        p {
            color: white;
            animation: mainimg 1s;
            place-items: center;
            position: absolute;
            display: grid;
            font-size: 5em;
            width: 70%;
            font-weight: 700;
            top: 30%;
            left: 50%;
            transform: translate(-50%, -50%);
            &:after {
                font-size: 0.5em;
                content: 'Vem saborear o melhor de São Tomé e Príncipe';
            }
        }
    }
    .content {
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        p {
            text-align: center;
            font-size: 4em;
            font-weight: 600;
            text-decoration: underline;
        }
    }
}
@media screen and (max-width: 1330px) {
    main {
        .mainimg {
            p {
                animation: none;
                top: 30%;
                font-size: 4em;
                &:after {
                    font-size: 0.5em;
                }
            }
        }
    }
}

@media screen and (max-width: 1060px) {
    main {
        .mainimg {
            p {
                animation: none;
                top: 30%;
                font-size: 3.5em;
                &:after {
                    font-size: 0.5em;
                }
            }
        }
    }
}

@media screen and (max-width: 930px) {
    main {
        .mainimg {
            p {
                animation: none;
                top: 15%;
                font-size: 3em;
                &:after {
                    font-size: 0.8em;
                }
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    main {
        .mainimg {
            p {
                display: none;
                }
        .image {
                display: none;
            }
        }   
        .content {
            margin-top: 100px;
            width: 100vw;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            p {
                text-align: center;
                font-size: 2em;
                font-weight: 600;
                
            }
        }
        }
}





