
/* Animations */

@keyframes mainimg {
    0% {
        top: 100%;
    }
    100% {
        top: 40%;
    }
  } 


main{
    .mainimg {
        .image {
            width: 100vw;
            position: relative;
        }
        p {
            color: white;
            animation: mainimg 0.5s ease-out;
            place-items: center;
            position: absolute;
            display: grid;
            font-size: 5em;
            width: 70%;
            font-weight: 700;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            &:after {
                font-size: 0.5em;
                content: 'Vem saborear o melhor de São Tomé e Príncipe';
            }
        }
    }
    .content {
        margin-top: 100px;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .ctitle {
            p {
                position: relative;
                text-align: center;
                display: inline-block;
                white-space: nowrap;
                overflow: hidden;
                width: 100%;
                font-size: 4em;
                font-weight: 600;
                text-decoration: underline;
                &:hover {
                    &:before {
                        width: 100%;
                    }
                }
                &:before {
                    content: 'Enjoy our Menu!';
                    position: absolute;
                    display: inline-block;
                    white-space: nowrap;
                    overflow: hidden;
                    width: 0%;
                    height: 100%;
                    transition: width 400ms ease-out;
                    text-decoration: underline;
                    background-color: black;
                    top: 0;
                    left: 0;
                    color: rgb(255, 255, 255);
                }
            }
        }
        .cardlist {
            width: 100vw;
            display: flex;
            flex-wrap: wrap;
            white-space: normal;
            justify-content: center;
            align-items: center;

        }
    }
}


@media screen and (max-width: 1270px) {
    main {
        .mainimg {
            p {
                top: 40%;
                font-size: 4em;
            }
        }
    }
}



@media screen and (max-width: 1190px) {
    main {
        .mainimg {
            
            p {
                top: 30%;
                font-size: 4em;
                animation: none;
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    main {
        .mainimg {
            p {
                display: none;
                }
        .image {
                display: none;
            }
        }   
        .content {
            margin-top: 100px;
            width: 100vw;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            .ctitle {
                p {
                    text-align: center;
                    font-size: 2em;
                    font-weight: 600;
                    &:before {
                        width: 100%;
                    }
                }    
            }

        }
        }
}





