.loader {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 100;
    opacity: 0.95;
    background: rgb(0, 0, 0) url('../../public/ezgif.com-gif-maker.gif') no-repeat center center;
    background-size: 400px 300px;
}